@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Baloo Bhai 2', cursive; */
}
.side-nav {
    width: 20%;
    float: left;
    height: 100vh;
    background-color: rgb(46, 41, 41);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    font-family: 'Baloo Bhai 2', cursive;
}
.imageAndName {
    margin: 50px 0px;
}
.developer_img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 50%;
}
.nav-menu ul {
    height: 210px;
}
.nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nav-menu ul li {
    list-style: none;
}
.nav-menu ul li a {
    text-decoration: none;
    color: white;
}

.twitter-profile {
    padding: 5px;
    background-color: lightseagreen;
    margin: 15px 0px;
}
.twitter-profile span {
    font-size: 12px;
}
.other-social-media-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.social-icon a{
    text-decoration: none;
    color: white;
}



/*main section style starts here */
.main-section {
    width: 80%;
    float: right;
}
/*header style section starts here */
.imgHeader {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}
.imgHeader{
    background: url('../img/bg-1.jpg');
    color: white;
    position: relative;
}
.imgHeader > * {
    position: relative;
    margin: 15px 0px;
    z-index: 2;
    letter-spacing: 3px;
    word-spacing: 6px;
}
.imgHeader::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    z-index: 1;
}


/*main style section starts here */
.main-content-section {
    padding: 0px 30px;
}

/*my story style section starts here */
.my-story {
    display: flex;
    height: 500px;
    width: 100%;
}
.story-heading {
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.story-paragraph{
    width: 70%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.story-paragraph p {
    font-size: 20px;
    padding: 5px;
}


/*service story style section starts here */
.service-story {
    display: flex;
    height: 180px;
    width: 100%;
    margin-bottom: 50px;
}
.service-heading {
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-paragraph {
    width: 70%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.service-paragraph p {
    font-size: 20px;
    padding: 5px;
}



/*service box section style starts here */
.service-box {
    display: flex;
    justify-content: space-between;
}
.content-box {
    width: 23%;
    height: auto;
    /* border: 2px solid black; */
    padding: 5px;
    text-align: center;
    font-family: 'Baloo Bhai 2', cursive;
}
.imgDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgDescription img {
    width: 40px;
    height: 40px;
}
.imgDescription h5 {
    font-size: 25px;
    margin: 10px 0px;
}
